.about-forbes-section {
	background-color: #f2f5f9;
	.imgs-wrapper {
		text-align: center;
		margin-top: 50px;
		img {
			width: 100%;
			max-width: 230px;
			margin: 0 60px;
			@include breakpoint(tabletPortrait) {
				max-width: 150px;
			}
			@include breakpoint(mobile) {
		    max-width: 35%;
		    margin:0 15px;
			}
		}
	}
	p {
		font-family: $avenirNext_Regular;
		font-size: 16px;
		@include breakpoint(tabletPortrait) {
			font-size: 14px;
		}
	}
}

.awards-citations-container  {
	position: relative;
	.cvf-pagination-nav {
		width: 100%;
	}
	.smic-inner-subcontainer {
		display: flex;
		flex-wrap: wrap;
		// max-width: 700px;
	}
	.ac-wrapper {
		width: 25%;
		margin-bottom: 40px;
		@include breakpoint(tabletPortrait) {
	    width: 33.3%;
		}
		@include breakpoint(mobile) {
			width: 100%;
		}
		.ac-wrapper-inner {
			margin: auto;
			max-width: 230px;
			height: 100%;
			padding-bottom: 15px;
			border-bottom: 1px solid $blue;
			position: relative;
			overflow: hidden;
			@include breakpoint(tabletPortrait) {
		    max-width: 95%;
			}
			@include breakpoint(mobile) {
				max-width: 100%;
		    margin: auto;
			}
			&:hover {
				.info {
					opacity: 1;
				}
			}
		}
		.img-wrapper {
		  height: 160px;
		  width: 230px;
			text-align: center;
			@include breakpoint(mobile) {
				width: 100%;
			}
			img {
				height: 100%;
				width: 100%;
				object-fit: contain;
				margin: auto;
			}
		}
		.title {
			font-size: 18px;
			font-family: $avenirNext_Regular;
			margin: 15px 0 0;
			@include breakpoint(tabletPortrait) {
				font-size: 16px;
			}
		}
		.info {
			position:absolute;
			width: 100%;
			height: 100%;
			bottom: 0%;
			opacity: 0;
			background-color: $dark_blue;
			overflow-y: scroll;
	    padding: 15px;
	    text-align: center;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
			// scrollbar

			/* width */
			&::-webkit-scrollbar {
			    width: 5px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
			    background: #f1f1f1; 
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {	
			    background: $blue; 
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
			    background: $dark_blue;
			    opacity: 0.8; 
			}
			@extend .transition;
			p,a {
				font-size: 14px;
				font-family: $avenirNext_Regular;
				color: #FFF;
				@include breakpoint(tabletPortrait) {
					font-size: 12px;
				}
			}
		}
	}
}