.communities-we-serve-wrapper  {
	.cws-container {
		border: 0;
		margin-top: 30px;
		.card-upper-content  {
			& > .row {
				margin: 0;
			}
		}
		.card-header {
			padding: 0;
			background-color: #FFF;
			border: 0;
		}
		.img-wrapper {
			padding: 0;
			img {
				width: 100%;
				height: auto;
			}
			.img-caption {
				padding: 15px 20px;
				p {
					font-family: $avenirNext_Regular;
					font-size: 16px;
					@include breakpoint(tabletPortrait) {
						font-size: 14px;
					}
				}
			}
		}
		.info-wrapper {
			background-color: #F7F5EC;
	    padding: 30px 50px;
	    position: relative;
	    @include breakpoint(mobile) {
	    	text-align: center;
	    	padding: 30px;
	    }
	    &::before {
				content: '';
				position: absolute;
				top: 50px;
				left: -10px;
				width: 0;
				height: 0;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-right: 10px solid #F7F5EC;
		    @include breakpoint(mobile) {
					display: none;
		    }
	    }
	    img {
	    	max-width: 80px;
	    	@include breakpoint(tabletPortrait) {
	    		max-width: 50px;
	    	}
	    }
	    .title {
	    	font-size: 22px;
	    	font-family: $avenirNext_Bold;
	    	color: #A2926A;
	    	margin-bottom: 0;
	    	@include breakpoint(tabletPortrait){
	    		font-size: 18px;
	    	}
	    	@include breakpoint(mobile) {
	    		font-size: 16px;
	    	}
 	    }
	    .subtitle {
	    	font-size: 16px;
	    	font-family: $avenirNext_Regular;
	    	margin-bottom: 20px;
	    	@include breakpoint(tabletPortrait) {
	    		font-size: 14px;
	    	}
	    }
	    .count {
				font-size: 38px;
				color: #ab8f54;
				font-family: $avenirNext_Demi;
				margin: 5px 0 0;
	    	@include breakpoint(tabletPortrait) {
	    		font-size: 26px;
	    	}
	    }
	    .description {
				font-family: $avenirNext_Regular;
				font-size: 16px;
				margin: -5px 0 0;
	    	@include breakpoint(tabletPortrait) {
	    		font-size: 14px;
	    	}
	    }
	    .col-info-wrapper  {
	    	@include breakpoint(mobile) {
	    		margin: 10px 0;
		    	width: 50%;
	    	}
	    	&.has-image {
					display: flex;
					align-items: center;
					@include breakpoint(mobile) {
						flex-direction: column;
					}
					.count-wrapper {
						margin-left: 15px;
						@include breakpoint(mobile) {
							margin: 0;
						}
					}
	    	}
			  &.margin-has-img {
    	    margin-left: 95px;
		    	margin-top: 15px;
		    }
	    }
	    .col  {
	    	@include breakpoint(mobile) {
				  width: 100%;
				  flex-basis: 100%;
				  text-align: center;
				  justify-content: center;
					display: flex;
					align-items: center;
					flex-direction: column;
	    	}
	    }
		}
		button.btn {
			background-color: #E8E2AC;
			width: 100%;
			border-radius: 0;
			display: flex;
	    justify-content: space-between;
	    align-items: center;
	    outline: 0;
	    box-shadow: none;
	    text-decoration: none;
	    font-family: $avenirNext_Bold;
	    font-size: 18px;
	    color: #A2926A;
	    padding-right: 30px;
	    @include breakpoint(mobile) {
	    	font-size: 16px;
	    }
	    img {
	    	max-width: 50px;
	    	margin-right: 15px;
	    }
		}
		.card-body {
			background-color: #F7F5EC;
	    padding: 30px 80px;
    	@include breakpoint(mobile) {
				padding: 30px;
    	}
	    .col-body {
	    	display: flex;
	    	align-items: center;
	    	justify-content: center;
	    	@include breakpoint(mobile) {
	    		flex-direction: column;
	    	}
	    	.col-wrapper {
	    		margin: 0 50px;
	    		@include breakpoint(tabletPortrait) {
	    			margin: 0 30px;
	    		}
	    		@include breakpoint(mobile) {
						display: flex;
						margin: 10px 0;
						align-items: center;
						width: 100%;
						justify-content: center;
						flex-direction: column;
	    		}
	    	}
	    }
	    .count {
				font-size: 38px;
				color: #ab8f54;
				font-family: $avenirNext_Demi;
				margin: 5px 0 0;
	    	@include breakpoint(tabletPortrait) {
	    		font-size: 26px;
	    	}
	    }
	    .description {
				font-family: $avenirNext_Regular;
				font-size: 16px;
				margin: -5px 0 0;
	    	@include breakpoint(tabletPortrait) {
	    		font-size: 14px;
	    	}
	    }
	    .col-info-wrapper  {
    		@include breakpoint(mobile) {
    			width: 50%;
    			text-align: center;
    		}
	    	img {
	    		max-width: 80px;
	    		height: auto;
		    	@include breakpoint(tabletPortrait) {
						max-width: 50px;
		    	}
	    	}
	    	&.has-image {
					display: flex;
					align-items: center;
					@include breakpoint(mobile) {
				    flex-direction: column;
					}
					.count-wrapper {
						margin-left: 15px;
						@include breakpoint(mobile) {
							margin: 0;
						}
					}
	    	}
			  &.margin-has-img {
    	    margin-left: 95px;
		    	margin-top: 15px;
		    	@include breakpoint(mobile) {
		    		margin-left: 0;
		    	}
		    }
	    }
		}
		&:last-of-type {
			.info-wrapper {
				.col  {
					@include breakpoint(mobile) {
						flex-wrap: wrap;
					}
				}
				.col-info-wrapper  {
					@include breakpoint(mobile) {
						width: 100%;
						text-align: center;
						justify-content: center;
					}
				}
			}
		}
	}
}