.groupwide-economic-performance {
	.section-title {
		.title {
			@include breakpoint(mobile) {
				text-align: left;
			}
		}
	}
	.section-body {
		display: flex;
		align-items: center;
		@include breakpoint(tabletPortrait) {
			height: 65vw !important;
		}
		@include breakpoint(mobile) {
			height: 120vw !important;
		}
		.economic-performance-container {
			@include breakpoint(tabletPortrait) {
				flex-direction: column;
		    align-items: center;
			}
			.col-md-4 {
				@include breakpoint(tabletPortrait) {
					max-width: 450px;
					width: 100%;
					margin: 10px 0;
				}
		    @include breakpoint(mobile) {
		    	margin: 5px  0;
		    }
			}
		}
		.smic-inner-subcontainer {
			width: 100%;
		}
	}
	.economic-performance-wrapper {
		background-color: #ffffffBF;
		text-align: center;
		padding: 15px;
		.value {
			color: #A1926A;
			font-size: 30px;
			font-family: $avenirNext_Bold;
	    margin-bottom: 5px;
	    @include breakpoint(mobile) {
	    	font-size: 26px;
	    }
		}
		.icons {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
		    width: 50px;
			}
			p {
				margin: 0;
				font-family: $avenirNext_Regular;
				font-size: 16px;
		    text-align: left;
		    margin-left: 15px;
			}
		}
	}
}

.job-creation {
	background-color: #fbf5f2;
	.subtext {
		margin: 0;
		font-family: $avenirNext_Regular;
	}
	.job-creation-wrapper {
		text-align: center;
		width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
		img {
			margin: 0;
		}
		.count {
			font-size: 38px;
			color: #ab8f54;
			font-family: $avenirNext_Demi;
			margin: 5px 0 0;
		}
		p {
			margin: -5px 0 0;
		}
	}
	p.description {
		font-size: 16px;
	}
	.img-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
		@include breakpoint(mobile) {
			flex-direction: column;
		}
		.by-img {
			margin: 0 15px;
			max-width: 25%;
			width: 100%;
			height: auto;
			@include breakpoint(mobile) {
				max-width: 150px;
				margin: 15px 0;
			}
		}
	}
	img {
		margin: 30px auto;
	}
	.small-img {
		max-width: 300px;
		height: auto;
		width: 100%;
	}
}

.local-entrep {
	img {
		max-width: 80%;
	}
	.row {
    margin: 30px -15px 50px;
	}
	.local-entrep-wrapper {
		text-align: center;
		.count {
			font-size: 38px;
			color: #ab8f54;
			font-family: $avenirNext_Demi;
			margin: 5px 0 0;
		}
		p {
			margin: -5px 0 0;
		}
	}
	.img-wrapper {
		border-bottom: 1px solid #ab8f54;
	}
}

.banking-products-services {
	background-color: #fbf5f2;
	&-wrapper {
		@include breakpoint(mobile) {
			text-align: center;
		}
		p {
			margin: -5px 0 0;
			&.count {
				font-size: 38px;
				color: #ab8f54;
				font-family: $avenirNext_Demi;
				margin: 5px 0 0;
			}
		}
	}
	.section-body {
		& > .row {
			& > .col-md-6 {
				@include breakpoint(tabletPortrait) {
					max-width: 100%;
					flex-basis: 100%;
					margin: 15px 0;
				}
			}
		}
	}
	.img-wrapper {
		text-align: center;
		margin-top: 25px;
		border-bottom: 1px solid #ab8f54;
	}
	.img-hover-container {
		position: relative;
		overflow: hidden;
		&:hover {
			img {
				transform: scale(1.1);
			}
			.details {
				opacity: 1;
			}
		}
		img {
			width: 100%;
			height: auto;
			transform: scale(1);
			@extend .transition;
		}
		.details {
			position: absolute;
			opacity: 0;
			bottom: 0;
			left: 0;
			right: 0;
	    background-color: rgba(0, 0, 0, 0.4);
	    padding: 5px 10px;
	    @extend .transition;
	    p {
		    font-size: 12px;
	    	color: #FFF;
	    	font-family: $avenirNext_Regular;
	    	&:last-of-type {
	    		margin: 0;
	    	}
	    }
		}
	}
}

.contribution-to-ndg  {
	display: flex;
  align-items: center;
  @include breakpoint(tabletPortrait) {
  	height: 65vw !important;
  }
  @include breakpoint(mobile) {
  	height: 120vw !important;

  }
  .parallax-content {
		background-color: #ffffffBF;
		padding: 50px 0;
		.title {
	    color: $blue;
	    font-family: $avenirNext_Bold;
			font-size: 20px;
			margin: 0 0 30px;
			@include breakpoint(tabletPortrait) {
				font-size: 18px;
			}
		}
		p {
			font-family: $avenirNext_Regular;
			font-size: 16px;
			margin: 0;
			@include breakpoint(tabletPortrait) {
				font-size: 14px;
			}
			&.value {
				font-size: 30px;
				color: $blue;
				font-family: $avenirNext_Bold;
				@include breakpoint(tabletPortrait) {
					font-size: 22px;
				}
			}
		}
		.col-md-6 {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
  }

}