@font-face {
  font-family: 'AvenirNextLTPro_Bold';
  src: url("assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'AvenirNextLTPro_Demi';
  src: url("assets/fonts/avenir-next/avenir-next-lt-pro-demi.otf") format("opentype");
}

@font-face {
  font-family: 'AvenirNextLTPro_Italic';
  src: url("assets/fonts/avenir-next/AvenirNextLTPro-It.otf") format("opentype");
}

@font-face {
  font-family: 'AvenirNextLTPro_Regular';
  src: url("assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf") format("opentype");
}