$carousel_height: 30vw;

#homepageCarousel {
	height: $carousel_height;
	@include breakpoint(mobile) {
		height: 70vw;
	}
	.carousel-item {
		background-color: $light_blue;
	}
	.carousel-inner,
	.video-banner {
		height: $carousel_height;
		@include breakpoint(mobile) {
			height: 70vw;
		}
	}
	.video-banner {
		display: flex;
    padding: 0 8%;
    // height: 82vh;
    align-items: center;
    .video-carousel-caption {
    	width: 30%;
    	color: #FFF;
    }
    .video-thumb {
    	width: 70%;
    	position: relative;
    	.play-btn {
    		position: absolute;
				background: url(assets/images/yt-play.png) no-repeat;
		    background-size: 100px;
		    width: 100px;
		    height: 73px;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    filter: grayscale(100%);
		    opacity: 0.8;
		    @extend .transition;
		    &:hover,&:active,&:focus {
		    	opacity: 1;
		    	filter: grayscale(0);
		    }
    	}
    	img {
    		height: auto;
    	}
    }
	}
	.carousel-caption {
		right: 8%;
		left: 8%;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: baseline;
		justify-content: center;
		max-width: 50%;
		text-align: left;
		@include breakpoint(tabletPortrait) {
			right: 12%;
			left: 12%;
		}
		@include breakpoint(mobile) {
			max-width: 100%;
			right: 15%;
			left: 15%;
		}
	}
	.banner-title {
		font-size: 38px;
		font-family: $avenirNext_Bold;
		margin-bottom: 20px;
		@include breakpoint(tabletPortrait) {
			font-size: 26px;
		}
		@include breakpoint(mobile) {
			font-size: 16px;
			margin-bottom: 5px;
		}
	}
	.banner-desc {
		font-size: 16px;
		font-family: $avenirNext_Regular;
		margin-top: -15px;
		@include breakpoint(tabletPortrait) {
			font-size: 14px;
		}
		@include breakpoint(mobileLg) {
			font-size: 12px;
			margin-top: 0;
		}
	}
	img {
		height: $carousel_height;
		object-fit: cover;
		@include breakpoint(mobile) {
			height: 70vw;
		}
	}
	.carousel-controls {
		position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    a {
    	width: 40px;
	    height: 40px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    background-color: #FFF;
	    text-decoration: none;
	    @include breakpoint(mobile) {
	    	width: 25px;
	    	height: 25px;
	    }
	    .fa {
	    	font-size: 20px;
	    	color: #1E398D;
		    @include breakpoint(mobile) {
		    	font-size: 16px;
		    }
	    }
    }
    &.prev-control {
	    left: 30px;
    }
    &.next-control {
    	right: 30px;
    }
	}
}

.featured-content {
	.section-title {
		.title {
			color: $dark_blue !important;
		}
	}
	.row {
		margin: 0 -30px;
    justify-content: space-between;
	}
	.featured-content-inner-wrapper  {
		// max-width: 260px;
	}
	.featured-content-wrapper {
		padding: 0 30px;
		text-decoration: none;
		@include breakpoint(mobileLg) {
			margin-bottom: 30px;
		}
		&:nth-of-type(2) {
			.featured-content-inner-wrapper {
				margin: auto;
			}
		}
		&:last-of-type {
			@include breakpoint(mobileLg) {
				margin-bottom: 0;
			}
			.featured-content-inner-wrapper {
				margin-left: auto;
			}
		}
		img {
			width: 100%;
			height: 15vw;
			// height: auto;
			object-fit: cover;
			@include breakpoint(mobileLg) {
				height: 50vw;
			}
		}
		h3 {
			margin: 20px 0 0;
			font-family: $avenirNext_Bold;
			font-size: 18px;
			color: $dark_blue;
			@include breakpoint(mobile) {
				font-size: 16px;
				margin-top: 10px;
			}
		}
	}
}

.press-release-investor-presentations {
	.section-content {
		.row > div {
			padding: 30px 15px;
		}
		.container-title {
			.title {
				font-family: $avenirNext_Bold;
				font-size: 22px;
				color: $blue;
				margin-bottom: 30px;
				@include breakpoint(tabletPortrait) {
					font-size: 20px;
				}
				@include breakpoint(mobileLg) {
					font-size: 18px;
					margin-bottom: 15px;
				}
			}
		}
	}
	.press-release-container {
		.container-content {
			padding-right: 30px;
		}
		.press-release-wrapper {
			display: block;
			text-decoration: none !important; 
			margin-top: 20px;
			&:first-of-type {
				margin-top: 0;
			}
			.date {
				display: block;
				font-family: $avenirNext_Regular;
				color: #585858;
				font-size: 16px;
				@include breakpoint(mobileLg) {
					font-size: 14px;
				}
			}
			p {
				color: #000000;
				font-family: $avenirNext_Regular;
				font-size: 18px;
				@include breakpoint(mobileLg) {
					font-size: 16px;
				}
				margin: 0;
			}
		}
		.view-all {
			color: $dark_blue;
			font-family: $avenirNext_Regular;
			font-size: 16px;
			margin-top: 30px;
			display: inline-block;
		}
	}
	.investor-presentations-container {
		background-color: #EAEAEA;
		text-align: center;
		@include breakpoint(mobileLg) {
			text-align: left;
		}
		.container-content {
			padding: 0 30px;
			text-align: left;
			@include breakpoint(mobileLg) {
				padding: 0;
			}
			.investor-wrapper {
				display: block;
				border-bottom: 1px solid #707070;
				font-family: $avenirNext_Regular;
				color: #000;
				font-size: 18px;
				text-decoration: none;
				padding: 20px 0;
				&:last-of-type {
					border-bottom: 0;
				}
			}
		}
		.smic-btn {
			min-width: 150px;
			margin-top: 25px;
			@include breakpoint(mobileLg) {
				min-width: 0;
			}
		}
		.title {
			// text-transform: uppercase;
			text-align: center;
			@include breakpoint(mobileLg) {
				text-align: left;
			}
		}
	}
}

.front-page-stories {
	.section-content {
		.row {
	    justify-content: space-between;
	    margin: 0 -15px;
	    .stories-wrapper {
	    	padding: 0 15px;
	    }
		}
	}
}

.stories-wrapper {
	margin-top: 30px;
	text-decoration: none !important;
	&:nth-child(-n+4) {
		margin-top: 0;
		@include breakpoint(mobileLg) {
			margin-top: 30px;
		}
	}
	&:nth-child(3n+2) {
		.stories-inner-wrapper {
			margin-left: auto;
			margin-right: auto;
		}
	}
	&:nth-child(3n+3) {
		.stories-inner-wrapper {
			margin-left: auto;
		}
	}
	&:first-of-type {
		@include breakpoint(mobileLg) {
			margin-top: 0;
		}
	}
	img {
		width: 100%;
	  height: 20vw;
    object-fit: cover;
		@include breakpoint(mobileLg) {
			height: 50vw;
		}
	}
	.stories-type {
		font-size: 16px;
		color: $blue;
		font-family: $avenirNext_Regular;
	}
	.desc {
		margin-top: 20px;
	}
	.title {
		margin: 0;
		font-size: 18px;
		font-family: $avenirNext_Regular;
		color: #000;
	}
}

.discover-more-wrapper {
  height: 30vw;
  background-size: cover;
  background-position: center center;
  .smic-inner-container {
  	height: 100%;
  	display: flex;
	  align-items: center;
  }
  .discover-more-content {
  	h4 {
  		font-size: 33px;
  		color: #FFF;
  		font-family: $avenirNext_Bold;
  	}
  }
}

.our-investments.smic-wrapper {
	.section-content {
		border-bottom: 1px solid $blue;
		padding-bottom: 30px;
	}
	.investments-wrapper {
		text-decoration: none;
		@include breakpoint(mobileLg) {
			margin-bottom: 30px;
		}
		img {
			width: 100%;
			height: 20vw;
			object-fit: cover;
			@include breakpoint(mobileLg) {
				height: 80vw;
			}
		}
		h4 {
			background-color: #FFF;
			font-size: 18px;
			color: $blue;
			font-family: $avenirNext_Regular;
			text-align: center;
			text-transform: uppercase;
			margin: -12px 20px 0px;
	    z-index: 2;
	    padding: 2px 5px;
	    position: relative;
		}
	}
}

.home {
	.cta-banner.cta-banner-link-out {
		&.cta-banner-key-0 {
			.cta-banner-image {
				object-position: 0;
			}
		}
	}
}