.governance-quicklinks {
	padding-top: 0;
	padding-bottom: 0 ;
	.row {
		margin: 0 -40px;
		@include breakpoint(mobile) {
			margin: 0 -15px;
		}
	}
	.quicklinks {
		padding: 0 40px;
		@include breakpoint(mobile) {
			padding: 0 15px;
		}
		.quicklinks-wrapper {
			text-decoration: none;
			overflow: hidden;
			display: inline-block;
			padding-bottom: 30px;
			border-bottom: 1px solid $blue;
			margin-bottom: 60px;
		}
		img {
			width: 100%;
			height: 22.5vw;
			object-fit: cover;
			@include breakpoint(mobileLg) {
				height: 50vw;
			}
		}
		.quicklinks-title {
			font-size: 22px;
			font-family: $avenirNext_Bold;
			color: $blue;
			margin: 10px 0 0;
			@include breakpoint(tabletPortrait) {
				font-size: 20px;
			}
			@include breakpoint(mobile) {
				font-size: 18px;
			}
		}
	}
}

.download-mgmt-wrapper {
	padding-top: 0;
	& > .row {
		margin: 0;
		@include breakpoint(tabletLandscape) {
			flex-direction: column;
		}
		& > div {
			@include breakpoint(tabletLandscape) {
		    flex-basis: 100%;
		    max-width: 100%;
			}
		}
	}
	.downloads-container {
		.title {
			font-family: $avenirNext_Bold;
			color: $blue;
			font-size: 22px;
			margin-bottom: 30px;
			@include breakpoint(mobile) {
				font-size: 20px;
			}
		}
		.dl-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.downloads-wrapper {
			display: flex;
			align-items: center;
			text-decoration: none;
			border-bottom: 1px solid #707070;
	    padding: 15px 0;
	    width: calc(50% - 20px);
	    @include breakpoint(mobile) {
	    	width: 100%;
	    }
			p {
				margin: 0 0 0 15px;
				font-family: $avenirNext_Demi;
				color: #171717;
				font-size: 14px;
			}
			&:hover {
				p {
					color: $blue;
				}
				.dl-sprite {
					background-color: $dark_blue;
					border-color: $dark_blue;
					&::before {
						background-position-y: -20px;
					}
				}
			}
		}
	}
	.mgmt-wrapper {
		padding-right: 0;
		@include breakpoint(tabletLandscape) {
			padding: 0;
		}
		img {
			width: 100%;
			height: auto;
			@include breakpoint(tabletLandscape) {
				height: 40vw;
				object-fit: cover;
			}
		}
		.mgmt-link {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			@include breakpoint(mobile) {
				margin-top: 30px;
			}
			.title {
				position: absolute;
				font-size: 38px;
				font-family: $avenirNext_Bold;
				color: #FFF;
	    	@include breakpoint(tabletPortrait) {
	    		font-size: 26px;
	    	}
				@include breakpoint(mobile) {
		    	font-size: 22px;
				}
			}
		}
	}
	.dl-sprite {
		min-width: 40px;
		max-width: 40px;
		min-height: 40px;
		max-height: 40px;
		border-radius: 50%;
		border: 1px solid #707070;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: '';
			background: url('assets/images/gov-dl.png') no-repeat;
			display: inline-block;
			background-size: 115px;
		}
		&.file-1 {
			&::before {
				width: 20px;
				height: 19px;
				background-position: -76px 0px;
			}
		}
		&.file-2 {
			&::before {
		    width: 19px;
		    height: 19px;
		    background-position: -56px 0px;
			}
		}
		&.file-3 {
			&::before {
		    width: 19px;
		    height: 23px;
		    background-position: 1px 0;
			}
		}
		&.file-4 {
			&::before {
				width: 19px;
				height: 19px;
				background-position: -96px 0;
			}
		}
		&.file-5 {
			&::before {
		    width: 20px;
		    height: 19px;
		    background-position: -18px 0;
			}
		}
		&.file-6 {
			&::before {
				width: 18.5px;
				height: 19px;
				background-position: -38px 0;
			}
		}
	}
}