.inside-pages-banner {
	position: relative;
	img {
		width: 100%;
		height: 30vw;
		object-fit: cover;
		@include breakpoint(mobile) {
			height: 70vw;
		}
	}
	.banner-content {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
    color: #FFF;
    margin: auto;
    max-width: 820px;
    width: 100%;
    padding: 0 15px;
    h2 {
    	font-size: 38px;
    	font-family: $avenirNext_Bold;
    	@include breakpoint(tabletPortrait) {
    		font-size: 26px;
    	}
			@include breakpoint(mobile) {
	    	font-size: 22px;
			}
			&.with-shadow {
				text-shadow: 0 0 1px #545454;
			}
    }
    p {
    	font-size: 16px;
    	font-family: $avenirNext_Regular;
			@include breakpoint(mobile) {
	    	font-size: 14px;
			}
    }
	}
}