.page-id-468 {
	.featured-stories {
		.slick-prev, .slick-next {
			top: 9.5vw;
			@include breakpoint(mobile) {
				top: 33vw;
			}
		}
		.slick-prev {
			@include breakpoint(mobile) {
				left: -10px;
			}
		}
		.slick-next {
			@include breakpoint(mobile) {
				right: -10px;
			}
		}
		.featured-stories-wrapper {
			.img-wrapper {
				position: relative;
				img {
					height: auto;
					object-position: top;
				}
				.stories-type {
					position: absolute;
					top: 10px;
					left: 10px;
					font-size: 12px;
					color: #FFF;
					background-color: $dark_blue;
					padding: 3px 5px;
				}
			}
			.title {
				color: $blue;
			}
			.desc {
				border-color: $blue;
			}
		}
	}

	.msmes {
		padding: 0;
		.msmes-wrapper {
			.msmes-inner-wrapper {
		    &:first-of-type {
		    	@include breakpoint(mobile) {
		    		margin-top: 0;
		    	}
		    }
	    }
			.msmes-inner-wrapper {
				background-color: #faf9f9;
				padding: 20px;
				display: flex;
		    flex-direction: column;
		    align-items: center;
		    @include breakpoint(mobile) {
					max-width: 300px;
					margin: 20px auto;
		    }
			}
			.info-wrapper {
				display: flex;
				align-items: center;
				@include breakpoint(tabletPortrait) {
					flex-direction: column;
					text-align: center;
				}
				p {
					font-family: $avenirNext_Regular;
					font-size: 18px;
					line-height: 22px;
					color: $blue;
					@include breakpoint(tabletLandscape) {
						font-size: 16px;
						line-height: 22px;
					}
				}
			}
			.msmes-sprite {
				background: url('assets/images/msmes-sprite.png') no-repeat;
				display: inline-block;
				background-size: 200px;
				margin-right: 15px;
				@include breakpoint(tabletLandscape) {
					background-size: 150px;
				}
				@include breakpoint(tabletPortrait) {
					margin: 10px 0;
				}
				&.supermall {
					background-position: -0 0;
					width: 75px;
			    height: 53px;
					@include breakpoint(tabletLandscape) {
						width: 56px;
						height: 40px;
					}
				}
				&.markets {
					background-position: -75px 0;
					width: 49px;
					height: 53px;
					@include breakpoint(tabletLandscape) {
						background-position: -56px 0;
						width: 38px;
						height: 40px;
					}
				}
				&.retail {
					background-position: -125px 0;
					width: 75px;
					height: 53px;
					@include breakpoint(tabletLandscape) {
					  background-position: -93px 0;
					  width: 57px;
					  height: 40px;
					}
				}
			}
			p {
				margin: 0;
				&.count {
					font-size: 33px;
					font-family: $avenirNext_Bold;
					color: $dark_blue;
					@include breakpoint(tabletLandscape) {
						font-size: 30px;
					}
					@include breakpoint(tabletPortrait) {
						text-align: center;
					}
				}
			}
		}
	}
	
}


.page-id-687 {
	.taxonomy-wrapper {
		.other-articles {
			.other-articles-wrapper {
				img {
					object-position: top;
					height: auto;
				}
			}
		}
		#featuredArticle {
			max-height: 35vw;
	    min-height: 35vw;
	    @include breakpoint(tabletLandscape) {
				max-height: 45vw;
				min-height: 45vw;
	    }
	    @include breakpoint(tabletPortrait) {
				max-height: none;
				min-height: 0;
	    }
		}
		.latest-update-wrapper {
			& > div {
				img {
					object-position: top;
					height: auto;
				}
			}
		}
	}
}
