	// -- vars
	$bg-color: #34495e;
	$default-size: 1em;
	$label-font-size: $default-size / 4;
	$label-font-size-redo: $default-size * 4;

	// -- mixins
	@mixin size($width, $height) {
	  height: $height;
	  width: $width;
	}
	@mixin draw-progress($progress) {
	  .pie {

	    .left-side {
	      transform: rotate($progress * 3.6deg);
	    }

	    @if $progress <= 50 {
	      .right-side {
	        display: none;
	      }
	    } @else {
	      clip: rect(auto, auto, auto, auto);

	      .right-side {
	        transform: rotate(180deg);
	      }
	    }
	  }
	}

	.pie-chart-wrapper {
		display: flex;
		align-items: baseline;
		justify-content: center;
		margin: 30px 0 0;
    flex-wrap: wrap;
		@include breakpoint(tabletPortrait) {
			margin-top: 0;
		}
	}

	.pie-size {
    font-size: 8vw;
		display: flex;
		flex-direction: column;
    // margin: 0 40px;
    margin: 25px 0;
    align-items: center;
    width: 20%;
		@include breakpoint(tabletPortrait) {
	    margin: 15px 0;
	    font-size: 12vw;
	    width: 25%;
		}
		@include breakpoint(mobile) {
			width: 50%;
			font-size: 20vw;
		}
		h4.title {
			font-size: 16px;
			font-family: $avenirNext_Demi;
			margin: 10px 0 0;
			text-align: center;
		}
		.pie-bg-color {
			background-color: #FFF;
			padding: 15px;
			border-radius: 50%;
		}
	}

	.pie-wrapper {
	  @include size($default-size, $default-size);
	  float: left;
	  position: relative;
	  
	  &:nth-child(3n + 1) {
	    clear: both;
	  }

	    .pie {
	      @include size(100%, 100%);
	      clip: rect(0, $default-size, $default-size, $default-size / 2);
	      left: 0;
	      position: absolute;
	      top: 0;

	      .half-circle {
	        @include size(100%, 100%);
	        border: 12px solid $dark_blue;
	        border-radius: 50%;
	        clip: rect(0, $default-size / 2, $default-size, 0);
	        left: 0;
	        position: absolute;
	        top: 0;
	      }
	    }

	  .label {
	    background: $bg-color;
	    border-radius: 50%;
	    bottom: $label-font-size-redo / 10;
	    color: #ecf0f1;
	    cursor: default;
	    display: block;
	    font-size: $label-font-size;
	    left: $label-font-size-redo / 10;
	    line-height: $label-font-size-redo * .70;
	    position: absolute;
	    right: $label-font-size-redo / 10;
	    text-align: center;
	    top: $label-font-size-redo / 10;

	    .smaller {
	      color: #bdc3c7;
	      font-size: .45em;
	      padding-bottom: 20px;
	      vertical-align: super;
	    }
	  }

	  .pie-details {
	    bottom: $label-font-size-redo / 10;
	    left: $label-font-size-redo / 10;
	    position: absolute;
	    right: $label-font-size-redo / 10;
	    top: $label-font-size-redo / 10;
	    font-size: 12px;
	    text-align: center;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    .pie-info {
			  margin: 0;
			  font-size: 1.6vw;
			  font-family: $avenirNext_Demi;
			  @include breakpoint(tabletPortrait) {
			  	font-size: 2.2vw;
			  }
			  @include breakpoint(mobile) {
			  	font-size: 4vw;
			  }
	    }
	  }

	  .shadow {
	    @include size(100%, 100%);
	    border: 12px solid #bdbec1;
	    border-radius: 50%;
	    box-shadow: none !important;
	  }

		@for $i from 1 through 100 {
		  &.progress-#{$i} {
		    @include draw-progress($i);
		  }
		}

	}


.smic-graphs  {
	margin-bottom: 50px;
	&:first-of-type {
		padding-bottom: 50px;
		border-bottom: 1px solid $blue;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
}

.smic-graphs-container {
	background-color: #e9edf5;
}

// .equity-investments  {
// 	.pie-size  {
// 		@include breakpoint(tabletPortrait) {
// 			width: 33.3%;
// 		}
// 	}
// }