.message-section-container {
	padding: 0;
	@include breakpoint(tabletLandscape) {
		padding: 50px 0;
	}
	@include breakpoint(mobile) {
		padding-bottom: 0;
	}
	&.message-section-inverted {
		@include breakpoint(mobile) {
			padding-top: 0;
		}
		.left-content {
			padding-left: 50px;
			@include breakpoint(mobile) {
				padding: 0;
			}
		}
	}
	.row > div {
		@include breakpoint(tabletPortrait) {
			flex-basis: 100% !important;
			max-width: 100% !important;
			padding: 0;
		}
	}
	.left-content {
		padding-top: 50px;
		padding-left: 0;
		@include breakpoint(tabletLandscape) {
			padding: 0;
		}
		@include breakpoint(tabletPortrait) {
			text-align: center;
			margin-bottom: 25px;
		}
	}
	blockquote {
		p {
			font-size: 20px;
		}
	}
	.right-content {
		padding: 0;
	}
	.section-title {
		font-size: 22px;
		font-family: $avenirNext_Bold;
		color: $blue;
	}
	#shareholderMessage {
		margin: 25px 0;
	}
	p {
		font-size: 16px;
		font-family: $avenirNext_Regular;
		margin: 0;
    max-width: 85%;
		@include breakpoint(tabletPortrait) {
			max-width: 100%;			
			font-size: 14px;
		}
		u {
			border-bottom: 1px solid $blue;
			padding-bottom: 5px;
			text-decoration: none;
		}
	}
	.message-collapse {
		font-family: $avenirNext_Regular;
		font-size: 14px;
		color: $blue;
		display: inline-block;
		text-decoration: none;
	}
	.message-img {
		width: 100%;
		height: auto;
	}
}

.featured-reports {
	background-color: #EAEAEA;
	.smic-inner-subcontainer {
		display: flex;
		align-items: center;
		justify-content: center;
		@include breakpoint(mobile) {
			flex-direction: column;
			text-align: center;
		}
	}
	.reports-thumb {
		max-width: 300px;
		height: auto;
	}
	.reports-info {
		padding-left: 50px;
		@include breakpoint(mobile) {
			padding-left: 0;
			padding-top: 25px;
		}
		.desc {
			font-size: 16px;
			font-family: $avenirNext_Regular;
		}
		.title {
			color: $blue;
			font-size: 18px;
			font-family: $avenirNext_Bold;
			margin: 0;
		}
		.download {
	    text-decoration: none;
	    display: inline-block;
			&:hover {
				.title {
					color :$dark_blue;
				}
			}
	    .file-info {
	    	color: #AEAEAE;
	    	font-family: $avenirNext_Regular;
	    	font-size: 16px;
	    	margin: 2px 0 0;
	    	.fa {
	    		margin-right: 5px;
	    	}
	    }
		}
	}
}

.reports-file-wrapper {
	.section-title {
		display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
		.title {
			font-size: 22px;
			text-transform: unset;
			margin: 0;
			font-family: $avenirNext_Bold;
		}
	}
	.reports-container {
		margin: 0 -10px;
	}
	.reports-wrapper {
		padding: 0 10px;
		text-decoration: none;
		outline: 0 !important;
		border: 0 !important;
		box-shadow: none !important;
		&:hover {
			.title {
				color: $blue;
			}
		}
		img {
			width: 100%;
			height: 15vw;
			object-fit: cover;
			@include breakpoint(mobile) {
				height: 50vw;
			}
		}
		.info {
			margin-top: 10px;
			display: flex;
			flex-direction: column;
		}
		.title {
			font-size: 16px;
			color: #000;
			font-family: $avenirNext_Regular;
			margin: 0;
		}
		.download {
			margin: 10px 0 0;
			color: $blue;
			font-size: 14px;
			font-family: $avenirNext_Regular;
		}
	}
	.slick-track {
	    display: flex !important;
	}

	.slick-slide {
	    height: inherit !important;
	}

}



.slick-arrow {
	&.slick-prev {
		&::before {
			color: $blue;
		}
	}
	&.slick-next {
		&::before {
			color: $blue;
		}
	}
}

.page-id-46 {
	.message-section-container {
		.row > div {
			@include breakpoint(tabletLandscape) {
				flex-basis: 50%;
				max-width: 50%;
			}
		}
	}
}