.search-page {
	margin-top: 50px;
	margin-bottom: 50px;
	.search-for {
		margin-bottom: 50px;
		h1 {
			font-size: 26px;
	    color: #5B5B5B;
	    font-family: $avenirNext_Bold;
	    margin: 0;
	    strong {
	    	color: $blue;
	    }
		}
	}
	._init_search_result {
		border-bottom: 1px solid #DEDEDE;
		padding-bottom: 30px;
		margin-bottom: 30px;
		&:last-of-type {
			border: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		h2 {
			margin: 0;
			a {
				font-family: $avenirNext_Bold;
				color: $blue;
				font-size: 22px;
				text-decoration: none;
			}
		}
	}
	._no_content {
		h2 {
			font-family: $avenirNext_Bold;
			font-size: 26px;
			text-align: center;
		}
	}
}