.leadership-and-advisers {
	.section-body {
		border-bottom: 1px solid $blue;
		padding-bottom: 15px;
	}
	.leadership-advisers-wrapper {
		@include breakpoint(mobile) {
			text-align: center;
		}
		img {
			width: 100%;
	    height: 16.9vw;
	    object-fit: cover;
	    object-position: top;
	    @include breakpoint(mobile) {
	    	height: auto;
	    	max-width: 270px;
	    }
		}
		p {
			font-family: $avenirNext_Bold;
			font-size: 16px;
			margin-top: 10px;
			text-align: center;
		}
	}
}

.group-wide-steering-committee {
	.gwsc-message {
		@include breakpoint(mobile) {
			text-align: center;
		}
		img {
			width: 100%;
			height: auto;
			max-width: 270px;
		}
		p {
			margin: 0;
			font-family: $avenirNext_Regular;
			font-size: 14px;
			&.name {
				font-family: $avenirNext_Bold;
			}
		}
		.right-content {
			display: flex;
			align-items: center;
			margin-bottom: 50px;
			p {
				font-size: 18px;
				position: relative;
				padding: 0 15px;
				@include breakpoint(mobile) {
					font-size: 16px;
					margin-top: 20px;
				}
				span.quote {
					font-family: arial;
					font-size: 80px;
					color: $dark_blue;
					line-height: 60px;
					position: absolute;
					&:first-of-type {
						left: -15px;
						top: 0;
					}
					&:last-of-type {
						transform: rotate(-180deg);
						line-height: 0;
						margin-left: 5px;
					}
				}
			}
		}
	}
	.committee-wrapper {
		margin: 0 -30px;
		margin-top: 50px;
		& > div {
			padding: 0 30px;
			text-align: center;
		}
		.committee-details {
	    max-width: 80%;
	    margin: 15px auto 30px;
	    border-bottom: 1px solid $blue;
	    padding-bottom: 15px;
		}
		p {
			margin: 0;
			font-family: $avenirNext_Regular;
			font-size: 16px;
			&.name {
				font-family: $avenirNext_Bold;
			}
		}
		img {
			width: 270px;
			height: 270px;
			object-fit: cover;
		  object-position: top;
		  @include breakpoint(tabletPortrait) {
		  	width: 100%;
		  	max-width: 270px;
		  	height: auto;
		  }
		}
	}
}

.presidents-report-wrapper {
	.wp-block-column {
		.wp-block-image  {
			margin: 0;
			img {
				@include breakpoint(mobile) {
					width: 100%;
				}
			}
		}
		&:first-of-type {
			background-color: #A29069;
			padding: 30px;
			display: flex;
			align-items: center;
			color: #FFF;
			p {
				font-size: 16px;
				@include breakpoint(tabletPortrait) {
					font-size: 14px;
				}
				&:last-of-type {
					margin: 0;
				}
				strong {
					font-family: $avenirNext_Bold;
				}
			}
		}
		.presidents-details {
			margin-top: 15px;
			p {
				margin: 0;
				font-size: 14px;
			}
		}
		&:last-of-type {
			margin-left: 0;
		}
	}
}

.presidents-report-accordion-wrapper {
	.card {
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.card-header {
		padding: 0;
		button {
			padding: 15px 30px;
			background-color: #A29069;
			font-size: 18px;
			border: 0;
			border-radius: 0;
			color: #FFF;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			text-decoration: none;
			outline: 0;
			outline: 0;
			border: 0;
			box-shadow: none;
			@include breakpoint(tabletPortrait) {
				font-size: 16px;
				text-align: left;	
			}
			&.collapsed {
				background-color: #FFF;
				color: #A29069;
			}
			// &:hover {
			// 	background-color: #A29069;
			// 	color: #FFF;
			// }
		}
	}
	.card-body {
		&.column-count {
			column-count: 2;
			@include breakpoint(mobile) {
				column-count: 1;
			}
			p {
				// -webkit-column-break-inside: avoid;
    //       page-break-inside: avoid;
    //            break-inside: avoid;
			}
		}
		p {
			font-size: 16px;
			font-family: $avenirNext_Regular;
			@include breakpoint(tabletPortrait) {
				font-size: 14px;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}