$avenirNext_Bold: 'AvenirNextLTPro_Bold', sans-serif;
$avenirNext_Demi: 'AvenirNextLTPro_Demi', sans-serif;
$avenirNext_Italic: 'AvenirNextLTPro_Italic', sans-serif;
$avenirNext_Regular: 'AvenirNextLTPro_Regular', sans-serif;

$dark_blue: #1E398D;
$blue: #2070C1;
$light_blue: #3DA1D9;
$lighter_blue: #DCECFC;
$green: #38d32e;
$light_green: #f5fef4;

$teal_color: #36a090;

$asparagus_green: #8c962e;

$brown: #a29069;