@charset "UTF-8";
/*
	Theme Name: SMIC
	Author: Kestrel
	Version: 1.0.0
*/
@font-face {
  font-family: "AvenirNextLTPro_Bold";
  src: url("assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro_Demi";
  src: url("assets/fonts/avenir-next/avenir-next-lt-pro-demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro_Italic";
  src: url("assets/fonts/avenir-next/AvenirNextLTPro-It.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro_Regular";
  src: url("assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf") format("opentype");
}
/*********************
BREAKPOINTS
*********************/
.smic-container {
  max-width: 90%;
  margin: auto;
}

.smic-inner-container {
  max-width: 85%;
  margin: auto;
}

.smic-inner-subcontainer {
  max-width: 75%;
  margin: auto;
}

.transition, #homepageCarousel .video-banner .video-thumb .play-btn, .smic-btn {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.light-blue-bg {
  background-color: #DCECFC;
}

.smic-btn {
  padding: 5px 10px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 14px;
  margin-top: 0;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
}
.smic-btn.blue-btn {
  background-color: #2070C1;
  color: #FFF;
}
.smic-btn.blue-btn:hover, .smic-btn.blue-btn:active, .smic-btn.blue-btn:focus {
  background-color: #1E398D;
}
.smic-btn.white-btn {
  background-color: #FFF;
  color: #2070C1;
}
.smic-btn.white-btn:hover, .smic-btn.white-btn:active, .smic-btn.white-btn:focus {
  background-color: #2070C1;
  color: #FFF;
}
.smic-btn.green-btn {
  background-color: #38d32e;
  color: #FFF;
}
.smic-btn.green-btn:hover, .smic-btn.green-btn:active, .smic-btn.green-btn:focus {
  background-color: #44ca3c;
  color: #FFF;
}

.slick-arrow::before {
  content: "";
  background-size: 100% !important;
  display: inline-block;
  color: #000;
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  font-weight: 900;
}
.slick-arrow.slick-next::before {
  content: "";
  /* You should use \ and not /*/
}
.slick-arrow.slick-prev::before {
  content: "";
  /* You should use \ and not /*/
}

#homepageCarousel {
  height: 82vh;
}
#homepageCarousel .carousel-item {
  background-color: #3DA1D9;
}
#homepageCarousel .carousel-inner,
#homepageCarousel .video-banner {
  height: 82vh;
}
#homepageCarousel .video-banner {
  display: flex;
  padding: 0 8%;
  height: 82vh;
  align-items: center;
}
#homepageCarousel .video-banner .video-carousel-caption {
  width: 30%;
  color: #FFF;
}
#homepageCarousel .video-banner .video-thumb {
  width: 70%;
  position: relative;
}
#homepageCarousel .video-banner .video-thumb .play-btn {
  position: absolute;
  background: url(assets/images/yt-play.png) no-repeat;
  background-size: 100px;
  width: 100px;
  height: 73px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  filter: grayscale(100%);
  opacity: 0.8;
}
#homepageCarousel .video-banner .video-thumb .play-btn:hover, #homepageCarousel .video-banner .video-thumb .play-btn:active, #homepageCarousel .video-banner .video-thumb .play-btn:focus {
  opacity: 1;
  filter: grayscale(0);
}
#homepageCarousel .video-banner .video-thumb img {
  height: auto;
}
#homepageCarousel .carousel-caption {
  right: 8%;
  left: 8%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  max-width: 50%;
  text-align: left;
}
#homepageCarousel .banner-title {
  font-size: 40px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  margin-bottom: 20px;
}
#homepageCarousel .banner-desc {
  font-size: 20px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  margin-top: -15px;
}
#homepageCarousel img {
  height: 82vh;
  object-fit: cover;
}
#homepageCarousel .carousel-controls {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
#homepageCarousel .carousel-controls a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  text-decoration: none;
}
#homepageCarousel .carousel-controls a .fa {
  font-size: 20px;
  color: #1E398D;
}
#homepageCarousel .carousel-controls.prev-control {
  left: 30px;
}
#homepageCarousel .carousel-controls.next-control {
  right: 30px;
}

.featured-content .row {
  margin: 0 -30px;
}
.featured-content .featured-content-wrapper {
  padding: 0 30px;
  text-decoration: none;
}
.featured-content .featured-content-wrapper img {
  width: 100%;
  height: auto;
}
.featured-content .featured-content-wrapper h3 {
  margin: 20px 0 0;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 22px;
  color: #000;
}

.press-release-investor-presentations .section-content .row > div {
  padding: 30px 15px;
}
.press-release-investor-presentations .section-content .container-title .title {
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  font-size: 20px;
  color: #2070C1;
  margin-bottom: 30px;
}
.press-release-investor-presentations .press-release-container .container-content {
  padding-right: 30px;
}
.press-release-investor-presentations .press-release-container .press-release-wrapper {
  display: block;
  text-decoration: none !important;
  margin-top: 20px;
}
.press-release-investor-presentations .press-release-container .press-release-wrapper:first-of-type {
  margin-top: 0;
}
.press-release-investor-presentations .press-release-container .press-release-wrapper .date {
  display: block;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #585858;
  font-size: 14px;
}
.press-release-investor-presentations .press-release-container .press-release-wrapper p {
  color: #000000;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 18px;
  margin: 0;
}
.press-release-investor-presentations .press-release-container .view-all {
  color: #1E398D;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 14px;
  margin-top: 30px;
  display: inline-block;
}
.press-release-investor-presentations .investor-presentations-container {
  background-color: #EAEAEA;
  text-align: center;
}
.press-release-investor-presentations .investor-presentations-container .container-content {
  padding: 0 30px;
  text-align: left;
}
.press-release-investor-presentations .investor-presentations-container .container-content .investor-wrapper {
  display: block;
  border-bottom: 1px solid #707070;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  padding: 20px 0;
}
.press-release-investor-presentations .investor-presentations-container .container-content .investor-wrapper:last-of-type {
  border-bottom: 0;
}
.press-release-investor-presentations .investor-presentations-container .smic-btn {
  min-width: 150px;
  margin-top: 25px;
}
.press-release-investor-presentations .investor-presentations-container .title {
  text-transform: uppercase;
  text-align: center;
}

.stories-wrapper {
  margin-top: 30px;
  text-decoration: none !important;
}
.stories-wrapper:nth-child(-n+3) {
  margin-top: 0;
}
.stories-wrapper img {
  width: 100%;
  height: auto;
}
.stories-wrapper .stories-type {
  font-size: 14px;
  color: #2070C1;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
}
.stories-wrapper .title {
  font-size: 20px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #000;
}

.discover-more-wrapper {
  background: url("assets/images/temp_assets/stock-photo-aerial-view-road-curve-construction-up-to-mountain-1245688942.jpg") no-repeat;
  height: 400px;
  background-size: cover;
  background-position: center center;
}
.discover-more-wrapper .smic-inner-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.discover-more-wrapper .discover-more-content h4 {
  font-size: 40px;
  color: #FFF;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
}

.our-investments.smic-wrapper .section-content {
  border-bottom: 1px solid #2070C1;
  padding-bottom: 30px;
}
.our-investments.smic-wrapper .investments-wrapper {
  text-decoration: none;
}
.our-investments.smic-wrapper .investments-wrapper img {
  width: 100%;
  height: auto;
}
.our-investments.smic-wrapper .investments-wrapper h4 {
  background-color: #FFF;
  font-size: 16px;
  color: #2070C1;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: -12px 20px 0px;
  z-index: 2;
  padding: 2px 5px;
  position: relative;
}

.main-header {
  background-color: #FFF;
}
.main-header .navbar-brand img {
  max-width: 180px;
  height: auto;
  width: 100%;
}
.main-header .navbar {
  padding: 8px 0;
}
.main-header .navbar-nav {
  margin-left: auto;
}
.main-header .navbar-nav .menu-item {
  margin: 0 6px;
}
.main-header .navbar-nav .menu-item a {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 16px;
  color: #1E398D;
  padding: 0.5rem;
  text-decoration: none;
}
.main-header .navbar-nav .menu-item a:hover, .main-header .navbar-nav .menu-item a:active, .main-header .navbar-nav .menu-item a:focus {
  color: #2070C1;
}
.main-header .dropdown {
  position: static;
}
.main-header .dropdown .dropdown-toggle::after {
  display: none;
}
.main-header .dropdown .dropdown-menu {
  left: -5.55%;
  right: -5.59%;
  border: 0;
  border-radius: 0;
  margin-top: 0;
  background-color: rgba(214, 220, 229, 0.95);
  padding: 25px 15px;
}
.main-header .dropdown .submenu-content {
  display: flex;
  justify-content: center;
}
.main-header .dropdown .submenu-content .submenu-title {
  min-width: 120px;
  margin: 0;
  font-size: 20px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  color: #1E398D;
}
.main-header .dropdown .submenu-content ul {
  list-style: none;
  column-count: 2;
  column-width: 180px;
}
.main-header .dropdown .submenu-content .submenu-link {
  font-size: 16px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #1E398D;
}
.main-header .dropdown .submenu-content .submenu-link:hover, .main-header .dropdown .submenu-content .submenu-link:active, .main-header .dropdown .submenu-content .submenu-link:focus {
  color: #2070C1;
}

.site-footer {
  background-color: #EAEAEA;
  padding: 50px 0;
}
.site-footer .logo-wrapper {
  margin-bottom: 30px;
}
.site-footer .logo-wrapper img {
  max-width: 180px;
  height: auto;
  width: 100%;
}
.site-footer .footer-details {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.site-footer .footer-details .title {
  font-size: 16px;
  color: #1E398D;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  margin-bottom: 20px;
}
.site-footer .footer-details address, .site-footer .footer-details p, .site-footer .footer-details a {
  font-size: 16px;
  color: #000;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  text-decoration: none;
}
.site-footer .footer-details .footer-link:hover {
  color: #2070C1 !important;
}
.site-footer .footer-details .footer-link.big-link {
  color: #1E398D;
  margin-top: 15px;
}
.site-footer .footer-sm {
  margin-top: 15px;
}
.site-footer .footer-sm .title {
  font-size: 16px;
  color: #1E398D;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  margin-bottom: 15px;
}
.site-footer .footer-sm ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.site-footer .footer-sm ul li {
  font-size: 0;
  margin: 0 12px;
}
.site-footer .footer-sm ul .sm-footer {
  background: url(assets/images/sm-footer-sprite.png) no-repeat;
  background-position: 0 0;
  font-size: 0;
  display: inline-block;
  background-size: 50px;
}
.site-footer .footer-sm ul .sm-footer.fb {
  background-position: 0 0;
  width: 10px;
  height: 20px;
}
.site-footer .footer-sm ul .sm-footer.twitter {
  background-position: -12px 0;
  width: 18px;
  height: 20px;
}
.site-footer .footer-sm ul .sm-footer.yt {
  background-position: -31px 0;
  width: 19px;
  height: 20px;
}

.smic-wrapper {
  padding: 60px 0;
}
.smic-wrapper .section-title .title {
  text-align: center;
  color: #2070C1;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.smic-wrapper.view-all-wrapper .section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.smic-wrapper.view-all-wrapper .section-title .title {
  font-size: 20px;
  text-transform: unset;
  margin: 0;
}
.smic-wrapper.view-all-wrapper .section-title .see-all {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 16px;
  color: #2070C1;
  text-decoration: none;
}

.mainbody-content {
  padding: 40px 0;
}
.mainbody-content h2 {
  font-size: 30px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  color: #1E398D;
}
.mainbody-content p {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 16px;
}
.mainbody-content img {
  height: auto;
}

.cta-banner {
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.cta-banner .smic-inner-subcontainer {
  height: 100%;
  display: flex;
  align-items: center;
}
.cta-banner .cta-banner-content h4 {
  font-size: 40px;
  color: #FFF;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
}
.cta-banner.cta-banner-link-out {
  height: auto;
  padding: 0;
  position: relative;
}
.cta-banner.cta-banner-link-out .cta-banner-image {
  width: 100%;
  height: auto;
}
.cta-banner.cta-banner-link-out .smic-inner-subcontainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cta-banner.cta-banner-link-out .smic-inner-subcontainer .cta-banner-content {
  width: 100%;
}
.cta-banner.cta-banner-link-out .smic-inner-subcontainer .cta-banner-content h2 {
  font-size: 40px;
  color: #FFF;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
}
.cta-banner.cta-banner-link-out .smic-inner-subcontainer .cta-banner-content p {
  font-size: 16px;
  color: #FFF;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
}
.cta-banner.cta-banner-link-out .smic-inner-subcontainer .cta-banner-content .smic-btn {
  margin-top: 5px;
}

.featured-stories .featured-stories-wrapper {
  text-decoration: none;
  outline: 0;
}
.featured-stories .featured-stories-wrapper .img-wrapper img {
  width: 100%;
  height: auto;
}
.featured-stories .featured-stories-wrapper .desc {
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}
.featured-stories .featured-stories-wrapper .desc .stories-type {
  font-size: 16px;
  font-family: "AvenirNextLTPro_Demi", sans-serif;
  margin: 10px 0 0;
  display: inline-block;
  color: #000;
}
.featured-stories .featured-stories-wrapper .desc .title {
  font-size: 20px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  margin: 5px 0 10px;
  color: #000;
}
.featured-stories .featured-stories-wrapper .desc p {
  font-size: 16px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #000;
  margin: 0;
}

.featured-video {
  padding: 0;
}
.featured-video .row {
  margin: 0;
}
.featured-video .featured-video-info {
  padding-left: 7.5%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  padding-right: 80px;
}
.featured-video .featured-video-info.blue-bg {
  background-color: #dae3f4;
}
.featured-video .featured-video-info .title {
  font-family: "AvenirNextLTPro_Demi", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
.featured-video .featured-video-info .title.green-title {
  color: #38d32e;
}
.featured-video .featured-video-info .title.blue-title {
  color: #2070C1;
}
.featured-video .featured-video-info .video-title {
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  font-size: 20px;
  color: #000;
}
.featured-video .featured-video-info p {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 16px;
  margin: 0;
}
.featured-video .featured-video-info .smic-btn {
  margin-top: 20px;
}
.featured-video .featured-video-img {
  padding: 0;
}
.featured-video .featured-video-img img {
  width: 100%;
  height: auto;
}

.smic-breadcrumbs {
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
}
.smic-breadcrumbs .breadcrumbs {
  display: flex;
  padding: 10px 0;
  list-style: none;
  margin: 0;
}
.smic-breadcrumbs .breadcrumbs li {
  font-size: 12px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #585858;
}
.smic-breadcrumbs .breadcrumbs li.separator {
  margin: 0 10px;
}
.smic-breadcrumbs .breadcrumbs li a {
  color: #585858;
  text-decoration: none;
}
.smic-breadcrumbs .breadcrumbs li a:hover {
  color: #2070C1;
}

.inside-pages-banner {
  position: relative;
}
.inside-pages-banner img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.inside-pages-banner .banner-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFF;
  margin: auto;
  max-width: 700px;
  width: 100%;
  padding: 0 15px;
}
.inside-pages-banner .banner-content h2 {
  font-size: 40px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
}
.inside-pages-banner .banner-content p {
  font-size: 20px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
}

.message-section-container {
  padding: 0;
}
.message-section-container .left-content {
  padding-top: 50px;
}
.message-section-container .section-title {
  font-size: 30px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  color: #2070C1;
}
.message-section-container .section-desc {
  font-size: 16px;
  font-family: "AvenirNextLTPro_Italic", sans-serif;
  margin: 0;
  max-width: 85%;
}
.message-section-container .section-desc b {
  border-bottom: 1px solid #2070C1;
  padding-bottom: 5px;
}
.message-section-container .message-collapse {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 16px;
  color: #2070C1;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 50px;
}
.message-section-container .message-img {
  width: 100%;
  height: auto;
}

.featured-reports {
  background-color: #EAEAEA;
}
.featured-reports .smic-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-reports .reports-thumb {
  max-width: 300px;
  height: auto;
}
.featured-reports .reports-info {
  padding-left: 50px;
}
.featured-reports .reports-info .desc {
  font-size: 16px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
}
.featured-reports .reports-info .title {
  color: #2070C1;
  font-size: 16px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  margin: 0;
}
.featured-reports .reports-info .download {
  text-decoration: none;
  display: inline-block;
}
.featured-reports .reports-info .download:hover .title {
  color: #1E398D;
}
.featured-reports .reports-info .download .file-info {
  color: #AEAEAE;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 14px;
  margin: 2px 0 0;
}
.featured-reports .reports-info .download .file-info .fa {
  margin-right: 5px;
}

.reports-file-wrapper .section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.reports-file-wrapper .section-title .title {
  font-size: 20px;
  text-transform: unset;
  margin: 0;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
}
.reports-file-wrapper .reports-container {
  margin: 0 -10px;
}
.reports-file-wrapper .reports-wrapper {
  padding: 0 10px;
  text-decoration: none;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
.reports-file-wrapper .reports-wrapper:hover .title {
  color: #2070C1;
}
.reports-file-wrapper .reports-wrapper img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.reports-file-wrapper .reports-wrapper .info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  min-height: 80px;
}
.reports-file-wrapper .reports-wrapper .title {
  font-size: 14px;
  color: #000;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  margin: 0;
}
.reports-file-wrapper .reports-wrapper .download {
  margin: auto 0 0;
  color: #2070C1;
  font-size: 14px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
}
.reports-file-wrapper .slick-track {
  display: flex !important;
}
.reports-file-wrapper .slick-slide {
  height: inherit !important;
}

.slick-arrow.slick-prev::before {
  color: #2070C1;
}
.slick-arrow.slick-next::before {
  color: #2070C1;
}

.page-id-304 h2 {
  margin-bottom: 30px;
}
.page-id-304 .wp-block-image {
  margin: 30px 0;
}

.board-of-directors p {
  max-width: none;
  margin: 0 0 1rem;
}
.board-of-directors .bod-wrapper {
  margin-bottom: 50px;
}
.board-of-directors .bod-wrapper .title-wrapper {
  margin-bottom: 25px;
  border-bottom: 2px solid #2070C1;
  padding-bottom: 15px;
}
.board-of-directors .bod-wrapper .bod-name {
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  font-size: 30px;
  color: #1E398D;
  margin: 0;
}
.board-of-directors .body-wrapper {
  display: flex;
}
.board-of-directors .body-wrapper .bod-details {
  flex-basis: 70%;
}
.board-of-directors .body-wrapper .bod-details .bod-info {
  margin-bottom: 2rem;
}
.board-of-directors .body-wrapper .bod-details strong {
  font-family: "AvenirNextLTPro_Bold", sans-serif;
}
.board-of-directors .body-wrapper .position {
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  font-size: 20px;
  color: #000;
  margin: 0;
}
.board-of-directors .body-wrapper .age {
  font-size: 16px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  margin: 0;
}
.board-of-directors .body-wrapper p {
  margin: 0 0 2.5rem;
  font-size: 14px;
}
.board-of-directors .body-wrapper .bod-img {
  flex-basis: 30%;
  padding-left: 50px;
}
.board-of-directors .body-wrapper .bod-img img {
  width: 100%;
  height: auto;
}

.filter-bod-container {
  max-width: 50%;
  margin: auto;
}
.filter-bod-container select {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 16px;
  outline: 0 !important;
  box-shadow: none !important;
}

.governance-quicklinks {
  padding-top: 0;
}
.governance-quicklinks .row {
  margin: 0 -40px;
}
.governance-quicklinks .quicklinks {
  padding: 0 40px;
}
.governance-quicklinks .quicklinks .quicklinks-wrapper {
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  padding-bottom: 30px;
  border-bottom: 1px solid #2070C1;
  margin-bottom: 60px;
}
.governance-quicklinks .quicklinks img {
  width: 100%;
  height: auto;
}
.governance-quicklinks .quicklinks .quicklinks-title {
  font-size: 26px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  color: #2070C1;
  margin: 10px 0 0;
}

.download-mgmt-wrapper > .row {
  margin: 0;
}
.download-mgmt-wrapper .downloads-container {
  padding-left: 7.5%;
  padding-right: 60px;
}
.download-mgmt-wrapper .downloads-container .title {
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  color: #2070C1;
  font-size: 30px;
  margin-bottom: 30px;
}
.download-mgmt-wrapper .downloads-container .downloads-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid #707070;
  padding: 15px 0;
}
.download-mgmt-wrapper .downloads-container .downloads-wrapper p {
  margin: 0 0 0 15px;
  font-family: "AvenirNextLTPro_Demi", sans-serif;
  color: #171717;
}
.download-mgmt-wrapper .downloads-container .downloads-wrapper:hover p {
  color: #2070C1;
}
.download-mgmt-wrapper .downloads-container .downloads-wrapper:hover .dl-sprite {
  background-color: #1E398D;
  border-color: #1E398D;
}
.download-mgmt-wrapper .downloads-container .downloads-wrapper:hover .dl-sprite::before {
  background-position-y: -23px;
}
.download-mgmt-wrapper .mgmt-wrapper {
  padding-right: 0;
}
.download-mgmt-wrapper .mgmt-wrapper img {
  width: 100%;
  height: auto;
}
.download-mgmt-wrapper .mgmt-wrapper .mgmt-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-mgmt-wrapper .mgmt-wrapper .mgmt-link .title {
  position: absolute;
  font-size: 30px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  color: #FFF;
}
.download-mgmt-wrapper .dl-sprite {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-mgmt-wrapper .dl-sprite::before {
  content: "";
  background: url("assets/images/gov-dl.png") no-repeat;
  display: inline-block;
  background-size: 100px;
}
.download-mgmt-wrapper .dl-sprite.cgr::before {
  width: 18px;
  height: 23px;
  background-position: 0px 0;
}
.download-mgmt-wrapper .dl-sprite.code_of_conduct::before {
  width: 18px;
  height: 23px;
  background-position: -19px 0;
}
.download-mgmt-wrapper .dl-sprite.board_audit_committee::before {
  width: 19px;
  height: 23px;
  background-position: -38px 0;
}
.download-mgmt-wrapper .dl-sprite.board_risk_and_compliance_committee::before {
  width: 19px;
  height: 23px;
  background-position: -57px 0;
}
.download-mgmt-wrapper .dl-sprite.code_of_conduct_and_ethics::before {
  width: 25px;
  height: 23px;
  background-position: -76px 0;
}

.our-pillars {
  background-color: #f5fef4;
}
.our-pillars .section-title {
  border-top: 1px solid #38d32e;
  padding-top: 15px;
}
.our-pillars .section-title .title {
  color: #38d32e;
}
.our-pillars .our-pillar-wrapper img {
  width: 100%;
  height: auto;
}
.our-pillars .our-pillar-wrapper .title {
  color: #38d32e;
  font-size: 18px;
  font-family: "AvenirNextLTPro_Demi", sans-serif;
  margin: 10px 0 5px;
}
.our-pillars .our-pillar-wrapper p {
  font-size: 16px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  margin: 0;
}
.our-pillars .our-pillar-wrapper .smic-btn {
  margin-top: 10px;
}

.page-id-460 .featured-stories .section-title .title, .page-id-460 .featured-stories .section-title .see-all {
  color: #38d32e;
}
.page-id-460 .featured-stories .featured-stories-wrapper {
  outline: 0;
}
.page-id-460 .featured-stories .featured-stories-wrapper .stories-type {
  color: #38d32e;
}
.page-id-460 .featured-stories .featured-stories-wrapper .desc {
  border-color: #38d32e;
}
.page-id-460 .slick-arrow.slick-prev::before {
  color: #38d32e;
}
.page-id-460 .slick-arrow.slick-next::before {
  color: #38d32e;
}

.more-on-sm-community .more-on-sm-community-wrapper {
  text-decoration: none;
}
.more-on-sm-community .img-wrapper img {
  width: 100%;
  height: auto;
}
.more-on-sm-community .title {
  margin: 10px 0 0;
  font-size: 16px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #2070C1;
}

.page-id-468 .featured-stories .featured-stories-wrapper .img-wrapper {
  position: relative;
}
.page-id-468 .featured-stories .featured-stories-wrapper .img-wrapper .stories-type {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #FFF;
  background-color: #1E398D;
  padding: 3px 5px;
}
.page-id-468 .featured-stories .featured-stories-wrapper .title {
  color: #2070C1;
}
.page-id-468 .featured-stories .featured-stories-wrapper .desc {
  border-color: #2070C1;
}
.page-id-468 .msmes {
  padding: 0;
}
.page-id-468 .msmes .msmes-wrapper .msmes-inner-wrapper {
  background-color: #faf9f9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-id-468 .msmes .msmes-wrapper .info-wrapper {
  display: flex;
  align-items: center;
}
.page-id-468 .msmes .msmes-wrapper .info-wrapper p {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #2070C1;
}
.page-id-468 .msmes .msmes-wrapper .msmes-sprite {
  background: url("assets/images/msmes-sprite.png") no-repeat;
  display: inline-block;
  background-size: 200px;
  margin-right: 15px;
}
.page-id-468 .msmes .msmes-wrapper .msmes-sprite.supermall {
  background-position: 0 0;
  width: 75px;
  height: 53px;
}
.page-id-468 .msmes .msmes-wrapper .msmes-sprite.markets {
  background-position: -75px 0;
  width: 49px;
  height: 53px;
}
.page-id-468 .msmes .msmes-wrapper .msmes-sprite.retail {
  background-position: -125px 0;
  width: 75px;
  height: 53px;
}
.page-id-468 .msmes .msmes-wrapper p {
  margin: 0;
}
.page-id-468 .msmes .msmes-wrapper p.count {
  font-size: 36px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  color: #1E398D;
}

.covid-response-cat {
  padding-top: 0;
  margin-top: -30px;
}
.covid-response-cat .covid-response-cat-wrapper {
  text-decoration: none;
  margin-bottom: 30px;
}
.covid-response-cat .covid-response-cat-wrapper .img-wrapper img {
  width: 100%;
  height: auto;
}
.covid-response-cat .covid-response-cat-wrapper .info {
  padding-bottom: 20px;
  border-bottom: 1px solid #2070C1;
}
.covid-response-cat .covid-response-cat-wrapper .info .title {
  color: #2070C1;
  font-size: 20px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  margin: 10px 0;
}
.covid-response-cat .covid-response-cat-wrapper .info p {
  margin: 0;
  font-size: 16px;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #000;
}

.smrn {
  padding-top: 0;
}
.smrn .smrn-container {
  display: flex;
}
.smrn .smrn-container p {
  margin: 0;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 16px;
}
.smrn .smrn-container .smrn-title-container {
  background-color: #1E398D;
  color: #FFF;
  padding: 20px;
  min-width: 210px;
  display: flex;
  align-items: center;
}
.smrn .smrn-container .smrn-inner-wrapper {
  padding: 20px;
}
.smrn .smrn-container .smrn-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #DCECFC;
  border-left: 0;
  justify-content: space-between;
}
.smrn .smrn-container .smrn-wrapper .info {
  font-size: 14px;
  color: #1E398D;
}
.smrn .smrn-container .smrn-wrapper .info strong {
  display: block;
  font-size: 30px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  line-height: 30px;
}

.taxonomy-wrapper .content-title-wrapper .page-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  color: #2070C1;
}
.taxonomy-wrapper #featuredArticle {
  max-height: 350px;
  min-height: 350px;
}
.taxonomy-wrapper #featuredArticle .carousel-indicators {
  bottom: -20%;
}
.taxonomy-wrapper #featuredArticle .carousel-indicators li {
  height: 10px;
  width: 10px;
  margin: 0 8px;
  background-color: #EBEBEB;
  opacity: 1;
}
.taxonomy-wrapper #featuredArticle .carousel-indicators li.active {
  background-color: #2070C1;
}
.taxonomy-wrapper .latest-update-wrapper {
  display: flex;
}
.taxonomy-wrapper .latest-update-wrapper > div {
  flex: 1;
  flex-basis: 50%;
}
.taxonomy-wrapper .latest-update-wrapper > div img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.taxonomy-wrapper .latest-update-wrapper .media-content {
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.taxonomy-wrapper .latest-update-wrapper .media-content .time {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 14px;
  color: #5B5B5B;
  margin: 0;
}
.taxonomy-wrapper .latest-update-wrapper .media-content .title {
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  font-size: 20px;
  margin: 10px 0;
}
.taxonomy-wrapper .latest-update-wrapper .media-content .title a {
  text-decoration: none;
  color: #2070C1;
}
.taxonomy-wrapper .latest-update-wrapper .media-content p {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  font-size: 14px;
  color: #414141;
}
.taxonomy-wrapper .latest-update-wrapper .media-content .btn-link {
  margin-top: 15px;
}
.taxonomy-wrapper .other-articles {
  margin: 100px 0 0;
}
.taxonomy-wrapper .other-articles.no-featured-article {
  margin-top: 0;
}
.taxonomy-wrapper .other-articles .row > div {
  margin-top: 50px;
}
.taxonomy-wrapper .other-articles .row > div:nth-of-type(-n+3) {
  margin-top: 0;
}
.taxonomy-wrapper .other-articles .other-articles-wrapper {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.taxonomy-wrapper .other-articles .other-articles-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.taxonomy-wrapper .other-articles .other-articles-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-bottom: 1px solid #2070C1;
}
.taxonomy-wrapper .other-articles .other-articles-info .time {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #414141;
  font-size: 14px;
  margin: 15px 0 0;
}
.taxonomy-wrapper .other-articles .other-articles-info .other-articles-title {
  font-family: "AvenirNextLTPro_Demi", sans-serif;
  font-size: 16px;
  color: #2070C1;
  margin: 0 0 15px;
  text-decoration: none;
}

.tax-green_movement_cat .taxonomy-wrapper .content-title-wrapper .page-title {
  color: #38d32e;
}
.tax-green_movement_cat .taxonomy-wrapper .latest-update-wrapper .media-content .title a {
  color: #38d32e;
}
.tax-green_movement_cat .taxonomy-wrapper .smic-btn {
  background-color: #38d32e;
}
.tax-green_movement_cat .taxonomy-wrapper .smic-btn:hover {
  background-color: #44ca3c;
}
.tax-green_movement_cat .taxonomy-wrapper .other-articles .other-articles-info {
  border-color: #38d32e;
}
.tax-green_movement_cat .taxonomy-wrapper .other-articles .other-articles-info .other-articles-title {
  color: #38d32e;
}
.tax-green_movement_cat .load-more-wrapper .load-more-btn {
  background-color: #38d32e;
}
.tax-green_movement_cat .load-more-wrapper .load-more-btn:hover {
  background-color: #44CA3C;
}
.tax-green_movement_cat .featured-video-info {
  background-color: #F6FDF5 !important;
}

.load-more-wrapper {
  text-align: center;
  margin-top: 30px;
}
.load-more-wrapper .load-more-btn {
  cursor: pointer;
}

.taxonomy-wrapper {
  padding-top: 30px;
}
.taxonomy-wrapper .single-article-container {
  display: flex;
}
.taxonomy-wrapper .article-header {
  margin-bottom: 30px;
}
.taxonomy-wrapper .article-header .taxonomy-type {
  color: #2070C1;
  font-size: 14px;
  font-family: "AvenirNextLTPro_Demi", sans-serif;
}
.taxonomy-wrapper .article-header .article-title {
  font-size: 30px;
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  color: #2070C1;
}
.taxonomy-wrapper .article-header .time {
  display: inline-block;
  font-size: 14px;
  color: #171717;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
}
.taxonomy-wrapper .article-body p, .taxonomy-wrapper .article-body li, .taxonomy-wrapper .article-body span {
  font-family: "AvenirNextLTPro_Regular", sans-serif;
  color: #171717;
}
.taxonomy-wrapper .article-body strong, .taxonomy-wrapper .article-body b {
  font-family: "AvenirNextLTPro_Bold", sans-serif;
}
.taxonomy-wrapper .article-wrapper-main {
  flex-basis: 70%;
  max-width: 70%;
  padding-right: 20px;
}
.taxonomy-wrapper .article-wrapper-main .wp-block-image img {
  height: auto;
}
.taxonomy-wrapper .article-sidebar {
  flex-basis: 30%;
  max-width: 30%;
  padding-left: 20px;
}
.taxonomy-wrapper .article-sidebar .sidebar-title {
  font-family: "AvenirNextLTPro_Bold", sans-serif;
  font-size: 20px;
  color: #2070C1;
  margin-bottom: 25px;
}
.taxonomy-wrapper .article-side-wrapper {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #2070C1;
  display: block;
  text-decoration: none;
}
.taxonomy-wrapper .article-side-wrapper:last-of-type {
  margin-bottom: 0;
}
.taxonomy-wrapper .article-side-wrapper .img-wrapper img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.taxonomy-wrapper .article-side-wrapper .time {
  display: inline-block;
  font-size: 14px;
  color: #171717;
  font-family: "AvenirNextLTPro_Regular", sans-serif;
}
.taxonomy-wrapper .article-side-wrapper .title {
  font-family: "AvenirNextLTPro_Demi", sans-serif;
  font-size: 16px;
  color: #2070C1;
}

.single-story_green_movement .taxonomy-wrapper .article-header .taxonomy-type, .single-story_green_movement .taxonomy-wrapper .article-header .article-title {
  color: #38d32e;
}
.single-story_green_movement .taxonomy-wrapper .article-sidebar .sidebar-title {
  color: #38d32e;
}
.single-story_green_movement .taxonomy-wrapper .article-side-wrapper {
  border-color: #38d32e;
}
.single-story_green_movement .taxonomy-wrapper .article-side-wrapper .title {
  color: #38d32e;
}

.menu-item-type-custom > a {
  color: grey !important;
}

/*# sourceMappingURL=style.css.map */
